<h2 class="star-aspects__head">Star Aspects</h2>
<button type="button" (click)="updateAllPZM()" [disabled]="updates.length === 0">Get Planets and Zodiac</button>

<table>
  <tr *ngFor="let tableset of tables.order; index as tableRow">
    <td *ngFor="let table of tableset">
      <table class="star-aspects__host-table">
        <tr>
          <th><h3 align="center">{{table.name | textpretty | titlecase}}</h3></th>
        </tr>
        <tr>
          <td>
            <table class="star-aspects__table star-aspects__table__{{table}}" *ngIf="tables[table.key]">
              <tr>
                <th *ngFor="let column_name of tables[table.key]['headers']">
                  {{column_name.slice(0,2)}}
                </th>
              </tr>
              <tr *ngFor="let row of tables[table.key]['rows']">
                <td *ngFor="let column_name of tables[table.key]['headers']">
<!--                  <span *ngIf="column_name=== tables[table.key]['headers'][0]">{{row}}</span>-->
                  <span *ngIf="!tables[table.key]['row_template'].hasOwnProperty(column_name)">{{row}}</span>
                  <span *ngIf="tables[table.key]['row_template'].hasOwnProperty(column_name)">
                    <input type="number"
                           [min]="tables[table.key]['row_template'][column_name]['min']"
                           [max]="tables[table.key]['row_template'][column_name]['max']"
                           [(ngModel)]="tablesDFrame[table.key][row][column_name]"

                           *ngIf="tables[table.key]['row_template'][column_name]['isInput'] &&
                                  tables[table.key]['row_template'][column_name]['type'] === 'number' &&
                                  tableRow !==1
                                 "

                           (keyup)="onNotEnter($event, pzmIndexUpdateRev, table.key, row, column_name);
                                    onNotEnter($event, computeDegDec, row, tableRow, table.key, row, column_name);
                                    onEnter($event, updateAllPZM);"
                    >
                    <input type="number"
                           [min]="tables[table.key]['row_template'][column_name]['min']"
                           [max]="tables[table.key]['row_template'][column_name]['max']"
                           [(ngModel)]="tablesDFrame[table.key][row][column_name]"

                           *ngIf="tables[table.key]['row_template'][column_name]['isInput'] &&
                                  tables[table.key]['row_template'][column_name]['type'] === 'number' &&
                                  tableRow ===1
                                 "
                           (keyup)="onNotEnter($event, pzmIndexUpdate, table.key, row, column_name);
                                    onNotEnter($event, computeDegDec, row, tableRow, table.key, row, column_name);
                                    onEnter($event, updateAllPZM);"

                    >
                    <input type="text"
                           [min]="tables[table.key]['row_template'][column_name]['min']"
                           [max]="tables[table.key]['row_template'][column_name]['max']"
                           [(ngModel)]="tablesDFrame[table.key][row][column_name]"

                           *ngIf="tables[table.key]['row_template'][column_name]['isInput'] && tables[table.key]['row_template'][column_name]['type'] === 'text'"


                    >
                    <span *ngIf="!tables[table.key]['row_template'][column_name]['isInput']">
                      {{tablesDFrame[table.key][row][column_name]}}
                    </span>
                  </span>
                </td>
              </tr>
            </table>
            <h5 *ngIf="!tables[table.key]" class="star-aspects__warning-text">
              Table ({{table.name}}) not Defined in Tables&#60;object&#62;
            </h5>
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<!--<table>-->
<!--  <tr>-->
<!--    <td>-->
<!--      <table class="star-aspects__host-table">-->
<!--        <tr>-->
<!--          <th>-->
<!--            <h3 align="center">Lagnam</h3>-->
<!--          </th>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>-->
<!--            <table class="star-aspects__table star-aspects__table__lagnam">-->
<!--              <tr>-->
<!--                <th>ID</th>-->
<!--                <th>L</th>-->
<!--                <th>D</th>-->
<!--                <th>M</th>-->
<!--                <th>S</th>-->
<!--                <th>To</th>-->
<!--              </tr>-->
<!--              <tr *ngFor="let id of IDs">-->
<!--                <td>{{id}}</td>-->
<!--                <td>-->
<!--                  <input type="number" [(ngModel)]="lagnam[id]['L']" (keyup)="log(id)">-->
<!--                </td>-->
<!--                <td>-->
<!--                  <input type="number" [(ngModel)]="lagnam[id]['D']" (keyup)="log(id)">-->
<!--                </td>-->
<!--                <td>-->
<!--                  <input type="number" [(ngModel)]="lagnam[id]['M']" (keyup)="log(id)">-->
<!--                </td>-->
<!--                <td>-->
<!--                  <input type="number" [(ngModel)]="lagnam[id]['S']" (keyup)="log(id)">-->
<!--                </td>-->
<!--                <td>{{lagnam[1]['To']}}</td>-->
<!--              </tr>-->
<!--            </table>-->
<!--          </td>-->
<!--        </tr>-->
<!--      </table>-->
<!--    </td>-->
<!--    <td>-->
<!--      <table class="star-aspects__host-table">-->
<!--        <tr>-->
<!--          <th>-->
<!--            <h3 align="center">PMZ - 1</h3>-->
<!--          </th>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>-->
<!--            <table class="star-aspects__table star-aspects__table__lagnam">-->
<!--              <tr>-->
<!--                <th>ID</th>-->
<!--                <th>L</th>-->
<!--                <th>D</th>-->
<!--                <th>M</th>-->
<!--                <th>S</th>-->
<!--                <th>To</th>-->
<!--              </tr>-->
<!--              <tr *ngFor="let id of IDs">-->
<!--                <td>{{id}}</td>-->
<!--                <td>-->
<!--                  <input type="number" [(ngModel)]="pmz1[id]['L']" (keyup)="log(id)">-->
<!--                </td>-->
<!--                <td>-->
<!--                  <input type="number" [(ngModel)]="pmz1[id]['D']" (keyup)="log(id)">-->
<!--                </td>-->
<!--                <td>-->
<!--                  <input type="number" [(ngModel)]="pmz1[id]['M']" (keyup)="log(id)">-->
<!--                </td>-->
<!--                <td>-->
<!--                  <input type="number" [(ngModel)]="pmz1[id]['S']" (keyup)="log(id)">-->
<!--                </td>-->
<!--                <td>{{lagnam[1]['To']}}</td>-->
<!--              </tr>-->
<!--            </table>-->
<!--          </td>-->
<!--        </tr>-->
<!--      </table>-->
<!--    </td>-->
<!--  </tr>-->
<!--</table>-->
