<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Star Aspects</title>

    <style>
        table, th, td{
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td{
            padding: 10px;
        }
    </style>
</head>
<body>
    <h3 align="center">Star Aspects</h3>
    {% if not isCalculated %}
    <form action="{% url 'astrology:calculate_star' %}" method="post">
        <table>
        <tr>
            <th>ID</th>
            <th>LAG</th>
            <th>Deg</th>
            <th>Min</th>
            <th>Sec</th>



        </tr>
        {% for i in IDs %}
            <tr>
                <td>{{i}}</td>
                <td>
                    <input type="number" min="0" max="12" name="LAG{{i}}">
                </td>
                <td>
                    <input type="number" min="0" max="360" name="Deg{{i}}">
                </td>
                <td>
                    <input type="number" min="0" max="60" name="Min{{i}}">
                </td>
                <td>
                    <input type="number" min="0" max="60" name="Sec{{i}}">
                </td>
            </tr>
        {% endfor %}
    </table>
        <button type="submit">Calculate</button>
        {% csrf_token %}
    </form>
    {% else %}
        <table>
        <tr>
            <th>ID</th>
            <th>LAG</th>
            <th>Deg</th>
            <th>Min</th>
            <th>Sec</th>
            <th>DecimalDeg</th>
            <th>1</th>
            <th>DecimalDeg[1]</th>
            <th>RA[1]</th>
            <th>NA[1]</th>
            <th>UA[1]</th>
            <th>5</th>
            <th>DecimalDeg[5]</th>
            <th>RA[5]</th>
            <th>NA[5]</th>
            <th>UA[5]</th>
            <th>7</th>
            <th>DecimalDeg[7]</th>
            <th>RA[7]</th>
            <th>NA[7]</th>
            <th>UA[7]</th>
            <th>9</th>
            <th>DecimalDeg[9]</th>
            <th>RA[9]</th>
            <th>NA[9]</th>
            <th>UA[9]</th>
        </tr>
        {% for i, row in data.items %}
            {% if forloop.counter|divisibleby:2 %}
                <tr style="background-color: rgba(0,0,0,0.3)">
            {% else %}
                <tr>
            {% endif %}
                <td>{{i}}</td>
                {% for key, value in row.items %}
                    <td>{{value}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    {% endif %}

</body>
</html>