<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Star Aspects</title>

    <style>
        table, th, td{
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td{
            padding: 2px;
        }
    </style>
</head>
<body>
    <h3 align="center">Star Aspects</h3>
    <form action="{% url 'astrology:calculate_star' %}" method="post">
        <button type="submit">Calculate</button>
        {% csrf_token %}
        <table>
        <tr>
            <th>ID</th>
            <th>L</th>
            <th>D</th>
            <th>M</th>
            <th>S</th>
            <th>To</th>
            <th>1</th>
            <th>To</th>
            <th>RA</th>
            <th>NA</th>
            <th>UA</th>
            <th>5</th>
            <th>To</th>
            <th>RA</th>
            <th>NA</th>
            <th>UA</th>
            <th>7</th>
            <th>To</th>
            <th>RA</th>
            <th>NA</th>
            <th>UA</th>
            <th>9</th>
            <th>To</th>
            <th>RA</th>
            <th>NA</th>
            <th>UA</th>
        </tr>
        {% for i, row in data.items %}
            {% if not i == "BR" %}
            {% if forloop.counter|divisibleby:2 %}
                <tr style="background-color: rgba(0,0,0,0.3)">
            {% else %}
                <tr>
            {% endif %}
                <td>{{i}}</td>
                {% for key, value in row.items %}
                    {% if key == "LAG" %}
                        <td> <input type="number" min="0" max="12" value="{{value}}" name="LAG{{i}}"> </td>
                    {% elif key == "Deg" %}
                        <td> <input type="number" min="0" max="12" value="{{value}}" name="Deg{{i}}"></td>
                    {% elif key == "Min" %}
                        <td> <input type="number" min="0" max="12" value="{{value}}" name="Min{{i}}"></td>
                    {% elif key == "Sec" %}
                        <td> <input type="number" min="0" max="12" value="{{value}}" name="Sec{{i}}"></td>
                    {% else %}
                        <td>{{value}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% else %}
                <tr style="height: 15px;">
                    {% for key, value in row.items %}
                        <td style="border: none;"></td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    </form>
</body>
</html>